# Temporary files
*.swp
*.*~
project.lock.json
.DS_Store
nupkg/

# Test caches
*.py[cod]
.coverage
.pytest_cache/
.tox/

# Profile data
*.bin

# Packages
*.zip

# Logs
kodi-addon-checker-report.log
kodi-addon-checker.log
