<?xml version="1.0" encoding="utf-8"?>
<settings>
  <category id="display" label="33100">
    <setting type="lsep" label="33101"/> <!-- display intro -->
    <setting id="display_method" type="select" label="33102" help="33103" lvalues="33110|33111|33112|33113|33114|33115|33116|33117|33118|33119" default="1"/>
    <setting type="text" label="33103" enable="false"/> <!-- display_label -->
    <setting type="text" label="33104" enable="false"/> <!-- cec_label -->
    <setting type="text" label="33105" enable="false"/> <!-- rpi_label -->
    <setting type="text" label="33106" enable="false"/> <!-- dpms_label -->
    <setting type="text" label="33107" enable="false"/> <!-- deactivate_label -->
    <setting type="text" label="33108" enable="false"/> <!-- deactivate_note -->
  </category>
  <category id="power" label="33200">
    <setting type="lsep" label="33201"/> <!-- power intro -->
    <setting id="power_method" type="select" label="33202" help="33203" lvalues="33210|33211|33212|33213|33214|33215|33216|33217" default="0"/>
    <setting type="text" label="33203" enable="false"/> <!-- power_label -->
  </category>
  <category id="options" label="33300">
    <setting type="lsep" label="33301"/> <!-- extra options -->
    <setting id="logoff" type="bool" label="33311" help="33312" default="false"/>
    <setting type="text" label="33312" enable="false"/> <!-- logoff_label -->
    <setting id="mute" type="bool" label="33321" help="33322" default="true"/>
    <setting type="text" label="33322" enable="false"/> <!-- mute_label -->
  </category>
  <!-- category id="test" label="33400" -->
    <!-- setting type="lsep" label="33401"/ --> <!-- text drive screensaver -->
    <!-- setting type="action" label="33411" action="Addon.Default.Set(xbmc.ui.screensaver)"/ --> <!-- select -->
    <!-- setting type="action" label="33412" action="ActivateScreensaver"/ --> <!-- activate -->
  <!-- /category -->
</settings>
